.header img {
  opacity: 0.7;
  min-width: 100%;
  height: 100vh;
}

.centered {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.centered img {
  opacity: 1;
  width: 100%;
  height: 100%;
}

#arrowdown.centered {
  top: 85%;
  height: auto;
}
#arrowdown.centered .resizer {
  width: 200px;
  transition: opacity 0.25s ease-in;
}
#arrowdown.centered .resizer:hover {
  opacity: 0.5;
}

.section-odd {
  min-height: 0vh;
  background-color: #222;
  color: #C8CCD1;
}

.section-even {
  min-height: 100vh;
  background-color: #43464A;
  color: #FFFFFF;
}

.spacer0 {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.spacer1 {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0);
}

.get-in-touch-button {
  opacity: 1;
  width: 200px;
  height: 200px;
  background-color: transparent;
  transition: opacity 0.25 ease;
}
.get-in-touch-button:hover {
  opacity: 0.3;
  background-color: transparent;
}

#section4.text-center {
  padding-top: 30vh;
  padding-bottom: 30vh;
}

h1, h2, h3, h4, h5 {
  font-family: "Microsoft Yi Baiti";
}

.hover-underline-menu {
  width: 100%;
}
.hover-underline-menu .menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0px;
  width: 9vw;
  height: 100vh;
  background-color: rgba(133, 133, 133, 0.5);
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
}
.hover-underline-menu .menu a {
  color: #FFFFFF;
  font-size: 3vw;
}

.underline-from-center {
  position: relative;
}
.underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #FFFFFF;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}
.underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

.to-top-chevron {
  font-size: 3vw;
  color: white;
}
.to-top-chevron:hover {
  cursor: pointer;
  color: gray;
}

.get-in-touch-icons {
  font-size: 2vw;
  color: white;
}

.target-transistionable a {
  transition: all 1s ease;
}
.target-transistionable a:target {
  color: red;
}

.sticky {
  position: fixed;
  right: 0;
  top: 0;
}

.content {
  position: relative;
  z-index: -1;
}

.staggeredRevealContent {
  opacity: 0;
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.staggeredRevealContent.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.box1 {
  display: block;
  position: relative;
  text-align: center;
  min-width: 100px;
  min-height: 50px;
  margin: 0 auto 0 auto;
}

.triggerElement {
  position: absolute;
  text-align: center;
  min-width: 100px;
  margin: 0 auto 0 auto;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowarp;
  justify-content: space-around;
}

.project {
  border-style: solid;
  border-color: white;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.project .projectContent {
  width: 40vw;
  padding: 30px;
  padding-right: 0px;
  padding-left: 60px;
}
.project .projectContent .projectName a {
  color: #0092d1;
  transition: color 0.25s ease;
}
.project .projectContent .projectName a i {
  font-size: 0.9em;
}
.project .projectContent .projectName a:hover {
  cursor: pointer;
  color: #7dd8ff;
}
.project .projectIcon {
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: auto;
}
.project .projectIcon img {
  width: 7vw;
  height: 7vw;
}
.project .projectLanguages {
  width: 13vw;
}
.project:last-child {
  border-bottom-width: 0;
}

.open-link-in-new-tab {
  height: 2em;
  width: 2em;
}

.interestContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowarp;
  justify-content: space-around;
}

.interest {
  background-color: transparent;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  flex-direction: column;
  align-content: space-between;
  padding: 30px;
}
.interest:last-child {
  border-right-width: 0px;
}
.interest .interestTitle {
  padding-bottom: 40px;
  height: auto;
  text-align: center;
  align-items: center;
  align-content: center;
}
.interest .interestImages {
  display: flex;
  flex-flow: row wrap;
  width: 18vw;
}
.interest .interestImages img {
  width: 9vw;
  height: 9vw;
  padding: 1vw;
  background-size: cover;
  transition: all 0.25s ease;
}
.interest .interestImages img:hover {
  content: "";
}

.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

#aboutme {
  background-color: white;
  color: #535353;
}

#aboutme-imagecolumn {
  padding-bottom: 0px;
}

#section1 {
  margin-top: 200px;
  padding: 20px;
}

.imgme {
  margin-top: 50px;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
}

.imgmeshadow {
  position: absolute;
  margin-top: 50px;
  margin-left: -570px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 570px;
  height: auto;
}

/*# sourceMappingURL=output.css.map */
