@import '_variables.scss';

.header {
    img {
        opacity: 0.7;
        min-width: 100%;
        height: 100vh;
    }
    .centered {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        h1, h2 {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
    }
}

.section-odd {
    background-color: $section-color-even;
}

.section-even {
    background-color: $section-color-odd;
}

.spacer1 {
    padding: 40px;
    background-color: rgba(0,0,0,0);
}

.round-button {
    background-image: $get-started-button-color;
    border:none;
    color:white;
    padding: 15px 20px 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin-left:50%;
    transform: translate(-50%);
    border-radius: 25%;
    i {
        position: relative;
    }
}