@import '_variables.scss';
@import '_functions.scss';

@font-face {
    src: url(../../fonts/msyi.ttf);
    font-family: msyi;
  }

.header {
    img {
        opacity: 1;
        min-width: 100%;
        height: 100vh;
    }
}

.centered {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
        font-size: 4vw;
    }
    img {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
}

#arrowdown.centered {
    top: 80%;
    color: black;
}

#section0Btn {
    font-size: 10vw;
    opacity: 0.7;
    transition: opacity 0.15s ease;
    &:hover {
        opacity: 1;
    }
}
.section-odd {
    min-height: 100vh;
    background-color: $section-color-odd;
    color: $lighter-gray;
}

.section-even {
    min-height: 100vh;
    background-color: $section-color-even;
    color: $white;
}

.spacer0 {
    padding: 20px;
    background-color: rgba(0,0,0,0);
}

.spacer1 {
    padding: 40px;
    background-color: rgba(0,0,0,0);
}

.get-in-touch-button {
    opacity: 1;
    width: 200px;
    height: 200px;
    background-color: transparent;
    transition: opacity 0.25 ease;
    &:hover {
        opacity: 0.3;
        background-color: transparent;
    }
}

#section4.text-center {
    padding-top: 30vh;
    padding-bottom: 30vh;
}

h1, h2, h3, h4, h5 {
    // font-family: 'Times New Roman', Times, serif;
    // font-family: 'Microsoft Yi Baiti';
    // font-family: 'Manjari', sans-serif;
    font-family: 'msyi';
}

#section1 {
    margin-top: 0px;
    padding: 0px;
    background-color: black;
}

