@import '_functions.scss';

// variables for top-bar
$menu-underline-from-center-bg: rgba(58, 58, 58, 0.5);
$menu-underline-from-center-border-thickness: 0.125rem;
$section-color-odd: #222;
$section-color-even: #43464A;
$get-started-button-color: linear-gradient(to bottom right, blue, purple);
$lighter-gray: #C8CCD1;

// general color variables
$white: #FFFFFF;

$navbar-right: 20px;
$navbar-top: 30%;

$separator-line-width: 0px;