@import '_functions.scss';

// variables for top-bar
$menu-underline-from-center-bg: #2C3840;
$menu-underline-from-center-border-thickness: 0.125rem;
$section-color-odd: beige;
$section-color-even: tint(bisque, 30);
$get-started-button-color: linear-gradient(to bottom right, blue, purple);

// general color variables
$white: #FFFFFF;

$navbar-right: 20px;
$navbar-top: 30%;