@import '_functions.scss';

// variables for top-bar
$menu-underline-from-center-bg: rgba(58, 58, 58, 0.5);
$menu-underline-from-center-border-thickness: 0.125rem;
$section-color-odd: #222;
$section-color-even: #43464A;
$get-started-button-color: linear-gradient(to bottom right, blue, purple);
$lighter-gray: #C8CCD1;

$level4: rgb(165, 172, 133);
$level4tint: tint($level4, 15);
$level4shade: shade($level4, 50);
$level3: rgb(123, 170, 138);
$level3tint: tint($level3, 15);
$level3shade: shade($level3, 50);
$level2: rgb(79, 177, 160);
$level2tint: tint($level2, 15);
$level2shade: shade($level2, 50);
$level1: #0371A0;
$level1tint: tint($level1, 15);
$level1shade: shade($level1, 50);

// general color variables
$white: #FFFFFF;

$navbar-right: 20px;
$navbar-top: 30%;

$separator-line-width: 0px;