#aboutme {
    // background-image: linear-gradient(to left, #799db1, #4996c0);
    background-color: white;
    color: rgb(83, 83, 83);
}

h1, h2, h3, h4, h5 {
    // font-family: 'Times New Roman', Times, serif;
    font-family: 'Microsoft Yi Baiti';
}

#aboutme-imagecolumn {
    padding-bottom: 0px;
}

#section1 {
    margin-top: 200px;
    padding: 20px;
    // border-radius: 0px 100px 0px 100px;
    // box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.5);
    // background-color: rgba(0, 0, 0, 0.452);
    // transform: rotateY(30deg) rotateX(0deg) rotateZ(0deg);
    // position: absolute;
}