#aboutme {
    background-color: white;
    color: rgb(83, 83, 83);
}

#aboutme-imagecolumn {
    padding-bottom: 0px;
}

#section1 {
    margin-top: 200px;
    padding: 20px;
    // border-radius: 0px 100px 0px 100px;
    // box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.5);
    // background-color: rgba(0, 0, 0, 0.452);
    // transform: rotateY(30deg) rotateX(0deg) rotateZ(0deg);
    // position: absolute;
}

.imgme {
    margin-top: 50px;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

.imgmeshadow {
    position: absolute;
    margin-top: 50px;
    margin-left: -570px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 570px;
    height: auto;
}