@import '../variables';

.interestContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowarp;
    justify-content: space-around;
}

.interest {
    background-color: transparent;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: $separator-line-width;
    &:last-child{
        border-right-width: 0px;
    }
    flex-direction: column;
    align-content: space-between;
    padding: 30px;
    .interestTitle {
        padding-bottom: 40px;
        height: auto;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    .interestImages {
        display: flex;
        flex-flow: row wrap;
        width: 18vw;
        img {
            width: 9vw;
            height: 9vw;
            padding: 1vw;
            background-size: cover;
            transition: all 0.25s ease;
            &:hover {
                opacity: 0.5;
                content: "";
            }
        }
            
    }
}