@import '../variables';

.projectContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowarp;
    justify-content: space-around;
}

.project {
    border-style: solid;
    border-color: white;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: $separator-line-width;
    padding: 20px;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .projectContent {
        width: 40vw;
        padding: 30px;
        padding-right: 0px;
        padding-left: 60px;
        .projectName {
            a {
                i {
                    font-size: 0.9em;
                }
                color: #0092d1;
                transition: color 0.25s ease;
                &:hover {
                    cursor: pointer;
                    color: #7dd8ff;
                }
            }
        }
    }
    .projectIcon {
        font-size: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7vw;
        height: auto;
        img {
            width:7vw;
            height:7vw;
        }
    }
    .projectLanguages {
        width: 13vw;
    }
    &:last-child {
        border-bottom-width: 0;
    }
}