.hover-underline-menu {
  width: 100%;
  .menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0px;
    width: 9vw;
    height: 100vh;
    background-color: $menu-underline-from-center-bg;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
    a {
      color: $white;
      font-size: 3vw;
    }
    
  }
}


.underline-from-center {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: calc(100% - #{$menu-underline-from-center-border-thickness});
    border-bottom: $menu-underline-from-center-border-thickness solid $white;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
  }

  &:hover::after {
    left: 1vw;
    right: 1vw;
    transition: all 0.5s ease;
  }
}

.to-top-chevron {
  font-size: 3vw;
  color: white;
  transition: color 0.15s ease;
  &:hover {
    cursor: pointer;
    color: gray;
  }
}

.get-in-touch-icons {
  i {
    font-size: 2vw;
    color:white;
    transition: color 0.15s ease;

    &:hover {
      color: gray;
    }
  }
}

.activeTab {
  transition: color 0.15s ease;
  background-color: rgba(84, 177, 201, 0.8);
  box-shadow: -5px 0px 60px rgba(84, 178, 201, 0.5);

  // font-size: 10vw;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // border-radius: 0.5vw;
  // margin-left: 0.5vw;
  // margin-right: 0.5vw;
}